
body{
    margin: 0 0;
    padding: 0 0;
    color: rgb(33, 25, 34);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
}

#wrap{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: .125fr 1fr 1fr 1fr 1fr 1fr .125fr;
    grid-template-rows: 1fr 200fr;
    grid-template-areas: "h1 h1 h1 h1 h1 h1 h1"
                         ". c1 c1 c1 c1 c1 ." ;
   
}
/* nav */
#navbar{
    top: 0;
    grid-area: h1;
    box-sizing: border-box;
    margin: 0px 0px;

    position:fixed;
    z-index: 999;
    height: 85px;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}



#navbar-logo{
    width: 5%;
    display: flex;
    justify-content:center ;
}

#navbar-logo a:hover{
   padding:12%;
   border-radius: 100px ;
   background-color: #efefef;;
}

#navbar-inicio, #navbar-search, #navbar-btns, #navbar-inicio, #navbar-inicio3{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    
}

#navbar-inicio{

 width: 15%;
 font-size: 16px;
 font-weight: 600;
 justify-content: flex-start;
}

#navbar-inicio1, #navbar-inicio2 {
    display: flex;
    justify-content: center;
    width: 20%;
    
}

#navbar-inicio1 {
    padding:6%;
    border-radius: 100px;
    background-color: black;
    color: white;
    align-self: flex-start;
}

#navbar-inicio2{
    margin-left: 3%;
}

#navbar-inicio3{
    width:22%;
    margin-left: 9%;
    justify-content: space-between;

}

#navbar-inicio3 img{
    width:12px;
    margin-left: 5px;
}

#navbar-search{
    height:65%;
    width: 60%; 
    border-radius: 100px;
    background-color: #e2e2e2 ;
}
/*#navbar-search1{
    padding-left: 1% ;
}
#navbar-search1 img{
    width:16px;
    margin-left:10% ;

}*/
#navbar-search2{
   
    width: 96%;
    border-radius: 100px;
}

#navbar-search2 input{
    text-decoration: none;
    padding: 1.7%;
    width: 100%;
    border: none;
    border-radius: 100px;
    background-color: #e2e2e2;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    color:rgb(130, 130, 130) ;
    background-image: url("./img/search-2907.png");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 1.5% 50%;
      
}


#navbar-search2 input:focus{
    width: 100%;
    outline:none;
    background-image: none;
    border: 3px solid #0074e8;
   
}


#navbar-btns{
    width: 20%;
    justify-content: space-evenly;
}

#message img{
    width:24px;
}

#notifications img{
    width:24px;
}

#profile img{
    width:24px;
    border-radius: 100px;
}

#arrow img{
    width:16px;
}

#searching img{
   display: none;
}
.hovers:hover{
    padding:3.5%;
    border-radius: 100px ;
    background-color: #efefef;;
 }

/* content */
#content{
    position: relative;
    top: 80px;
    height: 2000px;
    box-sizing: border-box;
    display: flex;
    flex-flow:row wrap;
    grid-area: c1;
}
#content1, #content2,#content3,#content4,#content5{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;

    width: 19.3%;
    min-height: 100vh;
    padding: .25%;
    
}


.round1, .hoverC{
z-index: 1;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr;
}

.round1{
    margin: 5%;
    align-self: center;
}

.round1 img{
    grid-area: 1/1/2/2;
    border-radius: 16px; 
    align-content: center;
     
}
.hoverC{
    visibility: hidden;
    grid-area: 1/1/2/2;

}
.round1:hover  .hoverC{
    visibility: visible;

}

.category, .save, .share, .option{
    grid-area: 1/1/2/2;
    z-index: 3;
    
}

.hovering{
    width: 100%;
    background-color: black ;
    border-radius: 16px;
    opacity: .5;
    z-index: 2;
    grid-area: 1/1/2/2;
    
}

.category {
    width: 70px;
    height: 20px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    background-image: url(./img/arrow-down-3103.png);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 50px;
    margin-top: 17%;
    margin-left: 8%;
}

.save {
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding:12px;
    border-radius: 100px;
    width:70px;
    height:20px;
    margin-top: 12%;
    margin-left: 55%;
    text-align: center;
}


.share img{
    width:24px;
    padding: 5px;
    background-color: #efefef;
    margin-top: 100%;
    margin-left: 55%;
}

.option img{
    width:24px;
    padding: 5px;
    background-color: #efefef;
    margin-top: 100%;
    margin-left: 80%;

}


@media (max-width:900px){

 #navbar-inicio2, #navbar-inicio3, #navbar-search{
    display:none;
 }

 #navbar-logo{
    width:20%;
 }
 
 #navbar-inicio{
    width:30%;
 }

 #navbar-btns{
    width:50%;
 }

 #searching img{
    visibility: visible;
    display: inline;
    width: 24px;
}

#navbar-inicio1 {
    padding-right:30%;
    border-radius:0;
    background-color:transparent;
    color: black;
    align-self: flex-start;
    background-image: url(./img/arrow-down-3101.png);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 80% 50%;
    
}
#content{
    width: 100%;
}

.round1 {
        width: 100%;
        border-radius: 16px; 
        align-content: center;    
    }

    .round1 img{
        width:98%;
        align-self: stretch;
    }
    .hoverC{
        width: 98%;
    }

    .share{
        width:24px;
        margin-top: 100%;
    margin-left: 45%;
    }

    .option{
        width:24px;
        margin-top: 100%;
    margin-left: 65%;
    }
#content1, #content2, #content3, #content4{
 width:49%
}
#content5{
    width:35%;
    flex-flow:row wrap;
}

#wrap{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: .125fr 1fr 1fr .125fr;
    grid-template-rows: 1fr 200fr;
    grid-template-areas: "h1 h1 h1 h1"
                         ". c1 c1 ." ;
}
}