*{
 border: 0.5px dashed red;
}
body{
    margin: 0 0;
    padding: 0 0;
    color: rgb(33, 25, 34);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
}

#wrap{
    width: 100%;
    margin: 0 auto;
    border: 1px dashed blue;
    display: grid;
    grid-template-columns: .125fr 1fr 1fr 1fr 1fr 1fr .125fr;
    grid-template-rows: 1fr 110fr;
    grid-template-areas: "h1 h1 h1 h1 h1 h1 h1"
                         ". c1 c1 c1 c1 c1 ." ;
   
}
/* nav */
#navbar{
    top: 0;
    grid-area: h1;
    box-sizing: border-box;
    margin: 0px 0px;

    position:fixed;
    z-index: 999;
    height: 85px;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}



#navbar-logo{
    width: 5%;
    display: flex;
    justify-content:center ;
}

#navbar-logo a:hover{
   padding:12%;
   border-radius: 100px ;
   background-color: #efefef;;
}

#navbar-inicio, #navbar-search, #navbar-btns, #navbar-inicio, #navbar-inicio3{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    
}

#navbar-inicio{

 width: 15%;
 font-size: 16px;
 font-weight: 600;
 justify-content: flex-start;
}

#navbar-inicio1, #navbar-inicio2 {
    display: flex;
    justify-content: center;
    width: 20%;
    
}

#navbar-inicio1 {
    padding:6%;
    border-radius: 100px;
    background-color: black;
    color: white;
    align-self: flex-start;
}

#navbar-inicio2{
    margin-left: 3%;
}

#navbar-inicio3{
    width:22%;
    margin-left: 9%;
    justify-content: space-between;

}

#navbar-inicio3 img{
    width:12px;
    margin-left: 5px;
}

#navbar-search{
    height:65%;
    width: 60%; 
    border-radius: 100px;
    background-color: #e2e2e2 ;
}
/*#navbar-search1{
    padding-left: 1% ;
}
#navbar-search1 img{
    width:16px;
    margin-left:10% ;

}*/
#navbar-search2{
   
    width: 96%;
    border-radius: 100px;
}

#navbar-search2 input{
    text-decoration: none;
    padding: 1.7%;
    width: 100%;
    border: none;
    border-radius: 100px;
    background-color: #e2e2e2;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    color:rgb(130, 130, 130) ;
    background-image: url("./img/search-2907.png");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 1.5% 50%;
      
}


#navbar-search2 input:focus{
    width: 100%;
    outline:none;
    background-image: none;
    border: 3px solid #0074e8;
   
}


#navbar-btns{
    width: 20%;
    justify-content: space-evenly;
}

#message img{
    width:24px;
}

#notifications img{
    width:24px;
}

#profile img{
    width:24px;
    border-radius: 100px;
}

#arrow img{
    width:16px;
}

#searching img{
    display:none;
}
.hovers:hover{
    padding:3.5%;
    border-radius: 100px ;
    background-color: #efefef;;
 }

/* content */
#content{
    position: relative;
    top: 80px;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-flow:row wrap;
    grid-area: c1;
}
#content1, #content2,#content3,#content4,#content5{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    width: 19.3%;
    min-height: 100vh;
    padding: .25%;
    
}

.round img{
    border-radius: 16px; 
   
}

.category {
    z-index: 2;
    width: 6%;
    color: white;
    font-size: 16px;
    font-weight: 700;
    position:absolute;
    top: 1.25%;
    left:2%;
    background-image: url(./img/arrow-down-3103.png);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 50px;
    display: inline-block;
}

.save {
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    top: 15px;
    left:140px;
    padding:12px;
    border-radius: 100px;

}


@media (max-width:900px){

 #navbar-inicio2, #navbar-inicio3, #navbar-search{
    display:none;
 }

 #navbar-logo{
    width:20%;
 }
 
 #navbar-inicio{
    width:30%;
 }

 #navbar-btns{
    width:50%;
 }

 #searching img{
    display: inline;
    width: 24px;
}

#navbar-inicio1 {
    padding-right:30%;
    border-radius:0;
    background-color:transparent;
    color: black;
    align-self: flex-start;
    background-image: url(./img/arrow-down-3101.png);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 80% 50%;
    
}
}